.Main-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    
}
.Exercise-container{
    margin: 50px;
}
.Title{
    display: flex;
    align-items: center;
    grid-gap: 20px;
    color: aquamarine;
}
.Title .Fw-icon{
    font-size: 50px;
}
.ExerciseList-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}